<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css"></link>

  <title>JOGO DAS 4 OPERAÇÕES</title>
</head>
<body>
  <h1>Jogo das 4 operações</h1>
  <p id="operations"></p>
  <p id="pontuation"></p>
  <img class="imageBack"></img>
  <canvas id="game" >
    <h3>Seu Browser não possui suporte ao canvas</h3>
  </canvas>
  <script  type="module" src="scriptFinal.js"></script>
</body>
</html>