<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css"></link>

  <title>JOGO DAS 4 OPERAÇÕES</title>
</head>
<body>
  <h1>Jogo das 4 operações</h1>
  <p id="operations">Área que vai ficar as contas de matematica ex: 2+2</p>
  <canvas  id="Jogo" >
    <h3>Seu Browser não possui suporte ao canvas</h3>
  </canvas>
  <script  type="module" src="script.js"></script>
</body>
</html>